<h1>work time</h1>

<div>
	<form action="work/contact" method = "post">
<input type="text" name="text1">
	<input type="submit"/>
	</form>
	<%= link_to "Click to go to About Page", :action => "about" %><br/>
	<%= link_to "Click to go to Contact Page", :action => "contact" %>
	
</div>
