
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to("Home", :controller => 'welcome', :action => 'index') %></li>
      <li><%= link_to("Index2", :controller => 'welcome', :action => 'index2') %></li>
      <li><%= link_to("Index3", :controller => 'welcome', :action => 'index3') %></li>
      <li><%= link_to("Index4", :controller => 'welcome', :action => 'index4') %></li>
    </ul>
   </div>
</nav>