
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to("Page1", :controller => 'welcome', :action => 'Page1') %></li>
      <li><%= link_to("Page2", :controller => 'welcome', :action => 'Page2') %></li>
      <li><%= link_to("Page3", :controller => 'welcome', :action => 'Page3') %></li>
      <li><%= link_to("Page4", :controller => 'welcome', :action => 'Page4') %></li>
    </ul>
   </div>
</nav>